.productImage {
  height: 200px;
  align-self: flex-start;
}

.imageContainer {
  text-align: left;
}

.categoryName {
  text-align: left;
  padding-left: 32px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 67px;
}

.categoryContainer {
  padding-top: 90px;
  font-weight: 400;
  size: 42px;
  line-height: 67.2px;
}

.productName {
  margin: 0px;
  margin-top: 24px;
  text-align: left;
  font: Raleway;
}

.productPrice {
  margin: 0px;
  text-align: left;
  margin-top: -40px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.itemContainer {
  flex: 1 0 33%;

  margin: 5px;
}
