.productImage {
  /* box-sizing: content-box; */

  /* display: flex; */
  /* padding-top: 120px; */
  /* flex-direction: column; */

  height: 200px;

  /* left: auto; */
  /* text-align: left; */
  align-self: flex-start;
}

.imageContainer {
  text-align: left;
}

.categoryName {
  text-align: left;
  padding-left: 32px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 67px;
  /* padding-top: 160px;
  text-align: left;
  padding-left: 30px; */
}

.categoryContainer {
  padding-top: 120px;
}

.productName {
  margin: 0px;
  margin-top: 24px;
  text-align: left;
  /* box-sizing: content-box;

  display: flex;
  padding-left: 21px; */
}

.productPrice {
  margin: 0px;
  text-align: left;
  /* box-sizing: content-box;

  display: flex;
  padding-left: 21px; */
}

.parent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  /* align-self: flex-start; */
  /* margin-top: 50px; */
}

.itemContainer {
  flex: 1 0 30%;
  margin: 5px;

  /* display: flex;
  justify-content: space-between; */
  /* display: flex; */
  /* height: 100px; */
  /* background-color:; */
}
